body {
  background-color: rgb(243, 241, 234);
  font-family: 'Inconsolata', monospace;
  background-color: honeydew;
}

button,
div,
form,
input {
  margin: 10px;
}

h1 {
  font-family: 'Righteous', cursive;
  color: rgb(3, 53, 10);
  padding: 2%;
}

button {
  background-color: honeydew;
  border: 2px solid rgb(252, 174, 123);
  border-radius: 90px;
  color: rgb(131, 128, 128);
}

p {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.5;
}

.banner {
  background-image: url(../images/wheat-3506758_1280.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid rgb(252, 174, 123);
  border-radius: 20px;
  margin: 1% 3%;
}

.topicDiv {
  float: left;
}

.GIF:hover {
  cursor: -webkit-grab;
}

#add-topic {
  background-color: #fff;
  border-radius: 20px;
  color: dimgray;
}

#topic-input {
  border-radius: 50px;
  width: 40%;
}